<ion-content [fullscreen]="true">
  <div id="bg">
    <ion-fab vertical="bottom" edge horizontal="center" slot="fixed">
      <ion-fab-button color="light" [routerLink]="['/home']">
        <ion-icon name="close-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <ion-list lines="none" class="ion-margin">
    <ion-list-header>SIGN UP</ion-list-header>
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter Username" type="text" clearInput="true" color="white"></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter Email" type="text" clearInput="true" color="white"></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-input placeholder="Enter Password" type="password" clearInput="true" color="white"></ion-input>
    </ion-item>
    <div align="center">
      <ion-button shape="round" strong="true" class="ion-margin-end" [routerLink]="['/dashboard-patient']">
        SIGN UP
      </ion-button>
    <ion-text></ion-text>
    </div>
  </ion-list>
</ion-content>