ion-content{
    --background: var(--ion-color-light) url('../../assets/patient.png') no-repeat center/cover;
}
ion-col{
    text-align: center;
    padding: 25px;
}
ion-card{
    padding: 25px;
}
ion-text{
    color: white;
}