<ion-header>
      <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-button expand="block" [routerLink]="['/dashboard-patient']">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    
      </ion-buttons>
      <ion-title>Reservation</ion-title>
      </ion-toolbar>
    </ion-header>
    
<ion-content>
  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
  <ion-col size="15">
    <ion-card color="secondary">
      <ion-text>
        <h2><b><i>Successfully Appoint!</i></b></h2>
      </ion-text>
    </ion-card>
  </ion-col>

  <div class="ion-text-center">
  <ion-button  routerLink="/dashboard-patient">DONE</ion-button>
  </div>
</ion-content>
