<ion-content [fullscreen]="true">
  <ion-list class="ion-margin ion-text-center">
    <ion-list-header><ion-label color="light"></ion-label></ion-list-header>
    <br>
    <ion-button color="light" expand="block" shape="round" routerLink="/login-patient">Login as a Patient</ion-button>
    <ion-button color="light" expand="block" shape="round" routerLink="/login-doctor">Login as a Doctor</ion-button>
    <ion-text color="dark"><p>New Patient?<p><a target="_blank" rel="noopener noreferrer" href="http://localhost:8100/signup-patient">SIGN UP</a></p></ion-text>
  </ion-list>
</ion-content>