ion-content {
  --background: var(--ion-color-light) url('../../assets/home.png') no-repeat center/cover;
}

ion-list {
  transform: translateY(25vh);
  background: transparent;
  ion-list-header {
    margin-bottom: 10vh;
    letter-spacing: 3px;
    color: dark;
    ion-label {
      font-weight:bold;
      font-size: 3rem;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    }
    ion-button {
      font-weight: bold;
      text-transform: none;
      margin: 5vh;
    }
    p {
      font-size: 0.9rem;
    }
  }
  